include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 Generalidades de epidemiología e investigación clínica
										
						h3 Tutor: Juan Sebastián Castillo Londoño
						
						p Médico cirujano con formación de maestría en salud pública y en epidemiología clínica. Investigador y consultor con experiencia temática en enfermedades crónicas y enfermedades infecciosas. Experiencia en la organización y planeación de servicios de salud, actualización del plan de beneficios, efectividad y eficiencia clínica. Experiencia relevante en el desarrollo de estándares clínicos y herramientas para el mejoramiento de los servicios de salud, desarrollo de proyectos de generación de valor en salud y de regulación del sector. Docente universitario en salud pública y servicios de salud. En la actualidad gerente de propuestas de valor en las áreas de oncología, urología y trasplantes en el sector farmacéutico.
						
						
						h2 1. Objetivos
							
						p Al finalizar el módulo el participante estará en capacidad de:	
						
						//- ---------------- 
						//- ---------------- Tabs
						//- ---------------- 
						+tabs-containers
							+set('titles')
								li.active: a(href='#1' data-toggle='tab') 1
								li: a(href='#2' data-toggle='tab') 2
								li: a(href='#3' data-toggle='tab') 3
								li: a(href='#4' data-toggle='tab') 4
								li: a(href='#5' data-toggle='tab') 5
								li: a(href='#6' data-toggle='tab') 6
								
							+set('content')
								div.tab-pane.fade.active.in#1
									p Entender el alcance de la epidemiología como herramienta para la investigación clínica.
								div.tab-pane.fade#2
									p Definir las principales fuentes de error en los estudios de investigación clínica. 
								div.tab-pane.fade#3
									p Entender la relación causa-efecto como paradigma de la investigación clínica y su relación con la validez de la investigación.
								div.tab-pane.fade#4
									p Definir los conceptos de precisión y exactitud en la medición de variables.
								div.tab-pane.fade#5
									p Conocer los conceptos básicos para la selección de los participantes en un estudio de investigación clínica.
								div.tab-pane.fade#6
									p Conocer los elementos básicos de una propuesta de investigación clínica.
									
						
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('#', 'disabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9674', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			