include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 2. Introducción
						
						p El proceso salud enfermedad es el elemento central de la labor clínica. Su comprensión y gestión constituyen una necesidad para cualquier profesional de salud y persona interesada en la prestación de servicios de salud. La epidemiología entendida como la ciencia que se encarga del “Estudio de la distribución y determinantes de los estados de salud o eventos relacionados con la misma en una población específica y la aplicación de estos estudios para el control de estos eventos de salud” constituye una herramienta fundamental, con un origen histórico en el origen de la medicina y el control de las enfermedades infecciosas, y en la actualidad con un espectro ampliado que incluye la comprensión de enfermedades comunicables, el origen social de la enfermedad y de todos los fenómenos relacionados con el estado de salud de la población (1). 
						p En la definición previa de epidemiología, se observa la orientación de esta disciplina a dos acciones que la definen en términos de sus herramientas y objetivos, analizar los fenómenos de salud e Intervenirlos correctamente derivado de su adecuada comprensión. Por esta necesidad de entender el entorno, la epidemiología y la investigación se encuentran íntimamente ligadas. 
						p La investigación es una actividad del saber humano cuyas actividades se encuentran diseñadas para desarrollar o contribuir al conocimiento generalizable. Existen dos abordajes diferentes en la investigación en salud; la investigación cualitativa y la cuantitativa, esta última corresponde al grupo de actividades más usado en epidemiología, el cual suele ir de teorías prestablecidas basadas en el conocimiento aceptado, hacia la generación de nuevas teorías, a partir de la información observada, empleando diseños de investigación configurados para falsear hipótesis derivadas de estas teorías, dar sustento de teorías existentes, o generar nuevas teorías a partir de los datos observados. Este abordaje que va de la generalidad a la particularidad de lo observado suele denominarse deductivo (Método hipotético-deductivo) (2). 
						p El conocimiento generalizable producto de la investigación, consiste en teorías, principios, relaciones o la acumulación de información, en las cuales estas teorías se basan, las cuales pueden corroborarse mediante métodos científicos aceptables como la observación, la inferencia o la experimentación. Es por esto qué la epidemiología como herramienta para la generación de conocimiento en salud y sobre la enfermedad, se encuentra conectada a la investigación, pues encuentra en ella su método. 
						p Sin embargo, es importante aclarar que la información derivada de la investigación en epidemiología sirve a dos usos principales. El primero de ellos es la toma de decisiones basada en información o evidencia como suele llamarse a la información mayoritariamente aceptada en un momento específico, este rol es el del usuario de la evidencia disponible. El segundo rol menos frecuente para los entusiastas de la epidemiología es el de generador de evidencia, habitualmente llamados investigadores.   
						p Desde el alcance de la investigación y consecuentemente de la epidemiología como campo del saber, esta tiene aplicaciones en todo el espectro del proceso salud-enfermedad, en la medida que la comprensión de la enfermedad ha salido de los límites del nosocomio (hospital) y la comprensión de la misma, se ha convertido en un proceso social y político, la epidemiología ha recuperado su origen en la comunidad, y su cuerpo de conocimiento y herramientas se han desarrollado en los diferentes ámbitos.
						
						p Ámbitos de la epidemiología: 
						
						//- ---------------- 
						//- ---------------- Tabs
						//- ---------------- 
						+tabs-containers
							+set('titles')
								li.active: a(href='#1' data-toggle='tab') 1
								li: a(href='#2' data-toggle='tab') 2
								li: a(href='#3' data-toggle='tab') 3
								li: a(href='#4' data-toggle='tab') 4
								li: a(href='#5' data-toggle='tab') 5
								
							+set('content')
								div.tab-pane.fade.active.in#1
									p Epidemiología social (Determinantes sociales)
								div.tab-pane.fade#2
									p Epidemiología de campo (Fuera del hospital)
								div.tab-pane.fade#3
									p Epidemiología “general”
								div.tab-pane.fade#4
									p Epidemiología clínica (Niveles de prevención)
								div.tab-pane.fade#5
									p Epidemiología hospitalaria (Dentro del hospital)
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						p Son múltiples los apellidos que podrían combinar con la palabra epidemiología y cada uno de ellos seguramente hará referencia a condiciones de tiempo, lugar o persona, específicas de uno de sus múltiples campos de acción.  Cuando los estudios epidemiológicos son conducidos en un escenario clínico, usualmente por personal clínico, con pacientes como sujetos de estudio (2), el campo de acción se suele denominar epidemiología clínica. 
						p Algunos consideran que la epidemiología clínica difiere de la epidemiología (general) en su ámbito de aplicación, en pacientes con enfermedad o a riesgo inminente de ella, y en el uso de las herramientas de la epidemiología para tomar decisiones en estos pacientes. Una forma más fácil de comprenderlo es la existencia de signos y síntomas, herramientas propias del diagnóstico clínico y de clasificación de las poblaciones. Sin embargo, la continua búsqueda de un mejor estado de salud de la población hace que incluso los servicios de salud se anticipen a la enfermedad, a los signos y síntomas, en niveles de prevención primaria, cuando se da la exposición a los factores de riesgo que llevan a enfermar.
						p Como se puede observar, no existe un límite claro de la epidemiología clínica, pero podemos decir que se da al interior de los servicios de salud, centrada en todos los niveles de prevención de la enfermedad, más que en sus determinantes sociales. 

								
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9673', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9675', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			