include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 3. ¿Cuáles son los diseños más usados en epidemiología?
						
						p Como la epidemiología se sustenta en la investigación, y en la mayor parte de los casos emplea técnicas cuantitativas, requiere de herramientas para recorrer de forma correcta el camino de la investigación, para rechazar o aceptar las hipótesis generadas, estas herramientas son los diseños de investigación. En la tabla No 1 se mencionan algunos de los diseños más usados en la epidemiología clínica: 
						
						//- ---------------- 
						//- ---------------- Tables
						//- ----------------
						+tables-containers('Tabla No 1. Diseños observacionales y experimentales más usados en epidemiología clínica.')
							+set('thead')
								tr
									th Estudios observacionales
									th Estudios experimentales
							+set('tr')
								tr
									td Reportes y series de caso
									td Aleatorios (Experimento clínico)
								tr
									td Corte transversal
									td No aleatorios (Quasi-experimentos)
								tr
									td Casos y controles
									td 
								tr
									td Cohortes
									td 
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						p Una pregunta frecuente al inicio del camino de la epidemiología es si hay varias herramientas, diseños, ¿cuál es la mejor para responder a una pregunta de investigación? y una respuesta razonable es depende. El mejor diseño en epidemiología es el que responde mejor a la pregunta de interés. 
						p Los estudios relacionados en la tabla corresponden a estudios primarios, debido a que su unidad de observación son sujetos, pacientes en el ámbito clínico. En contraposición los estudios secundarios son diseños de investigación que agregan información de otros estudios primarios, el mejor exponente de diseños de naturaleza secundaria que responde preguntas en el ámbito clínico son las revisiones sistemáticas de la literatura.
						
						
															
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9674', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9676', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			