include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 4. ¿Cómo se desarrolla  la pregunta de investigación?
						
						p Es importante escribir la pregunta de investigación y un esbozo del plan del estudio de una o dos páginas al principio. Esto obliga al investigador a clarificar sus propias ideas sobre el plan y a descubrir los problemas específicos que merecen atención. El desarrollo de la pregunta de investigación y del plan del estudio es un proceso interactivo que incluye consultas con asesores y colegas, una familiaridad creciente con la literatura o estudios piloto para comprobar los enfoques del reclutamiento y de las mediciones. La mayoría de los estudios tienen más de una pregunta de investigación, pero es importante centrarse en una única pregunta primaria cuando se diseña y se ejecuta el estudio (4).
						
						h3 Elección de una pregunta de investigación.
						
						p Kahn enumeró los diez mandamientos para la elección de un proyecto de investigación (5):							
							
							
						//- ---------------- 
						//- ---------------- Accordion
						//- ---------------- 
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box1', 'box1', 'Primero')
								p Prever los resultados antes de la ejecución del estudio. Si el resultado más interesante no es muy interesante entonces no merece mucho la pena el esfuerzo. Si por otra parte se pueden prever resultados interesantes, también se pueden prever los siguientes pasos del proceso de investigación.
								
							+accordion-item('#accordion1', '#box2', 'box2', 'Segundo')
								p Elegir un área según el interés del resultado. Se trata de elegir un área de interés no sólo para el investigador sino para una fracción amplia de la comunidad científica. Si el tema sólo interesa a cuatro, la investigación nunca se verá como interesante. Puede haber temas raros que aborden cuestiones de interés en la comunidad científica, pero los aspectos de las grandes cuestiones biológicas o clínicas pueden atraer mayor ayuda para la financiación y la publicación.
								
							+accordion-item('#accordion1', '#box3', 'box3', 'Tercero')
								p Buscar un nicho libre con potencialidad de desarrollo. Incluso en las áreas más estudiadas hay siempre aspectos no estudiados por los investigadores, ya sea porque no han pensado en ellos o porque les falta la formación específica para moverse en esa dirección.
								
							+accordion-item('#accordion1', '#box4', 'box4', 'Cuarto')
								p Acudir a charlas y leer artículos de fuera del propio campo de interés. La información de campos ajenos puede orientar en nuevas direcciones y prever la ampliación del propio campo. Pero una vez que se está inmerso en el propio campo se debe estar al día en la literatura y asistir a las conferencias importantes.
								
							+accordion-item('#accordion1', '#box5', 'box5', 'Quinto')
								p Edificar sobre un tema. En un área nueva, altamente competitiva, los estudios preliminares deberían continuarse con estudios adicionales que proporcionen una caracterización más completa de los hallazgos, con inclusión de muchos de los aspectos que requieren mucho tiempo de trabajo y mediante una línea de investigación continuada.
								
							+accordion-item('#accordion1', '#box6', 'box6', 'Sexto')
								p Establecer un equilibrio entre los proyectos de bajo y alto riesgo, pero incluir siempre un proyecto de alto riesgo y de gran interés en la cartera. Los proyectos de alto riesgo y de gran interés pueden no ser fructíferos, pero constituyen la oportunidad de poder destacar en el campo y de hacer una observación seminal. A veces se convierten en los proyectos más interesantes y productivos.
								
							+accordion-item('#accordion1', '#box7', 'box7', 'Séptimo')
								p Prepararse para continuar un proyecto con la profundidad que haga falta. En el transcurso de una investigación se pueden abordar temas cuya naturaleza se sale de nuestro campo. Si para efectuar parte de un proyecto se necesita formación en aspectos que no se domina y que no se necesitará más en el futuro, hay que buscarse colaboradores. Si, por el contrario, es probable que se necesiten las técnicas nuevas en el futuro, entonces hay que aprenderlas e incorporarlas a la actividad habitual.
								
							+accordion-item('#accordion1', '#box8', 'box8', 'Octavo')
								p Distinguirse del mentor. Uno de los principales determinantes del éxito a largo plazo de una carrera de investigación es el disponer de un mentor importante durante las fases iniciales. Sin embargo, es fundamental diferenciarse personalmente del mentor, sobre todo si se trabaja en la misma institución. Esto puede traducirse en abordar temas complementarios dentro de un problema común. Se tiene que conseguir el reconocimiento de ser más experto que el mentor en algún área en particular.
								
							+accordion-item('#accordion1', '#box9', 'box9', 'Noveno')
								p No dar por supuesto que la investigación clínica sobresaliente, es más fácil que la investigación básica sobresaliente. Es difícil diseñar estudios bien controlados e informativos porque no siempre se pueden realizar todos los procedimientos necesarios para un estudio óptimo en una población dada. Los estudios clínicos llevan más tiempo que los básicos y suelen ser más complicados. Por último, las preguntas que hacerse pueden ser más limitadas.
								
							+accordion-item('#accordion1', '#box10', 'box10', 'Décimo')
								p Centrarse, centrarse, centrarse. Es muy difícil intentar causar impacto en tres o cuatro áreas diferentes, sólo unos pocos pueden hacerlo. El investigador novel debe centrarse en un proyecto de investigación o a lo sumo en dos y estos proyectos deben tener metas muy limitadas. El investigador más experimentado puede estar implicado en más proyectos, pero debe mantener en cada uno de ellos una actitud centrada.
								
								
								
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9675', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9677', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			