include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 4. ¿Cuáles son los tipos de pregunta en epidemiología clínica?
						
						p Son variados los tipos de preguntas que responde la epidemiología, en algunos casos se limita a responder inquietudes sobre la frecuencia y distribución de la enfermedad, epidemiología descriptiva y en otros casos se dedica a entender el origen y la relación causa-efecto, epidemiología analítica. 
						p En la práctica clínica las preguntas más frecuentes suelen ser las relacionadas con la efectividad de los tratamientos o intervenciones, seguidas de la existencia de factores de riesgo (antes de la enfermedad) o pronóstico (una vez instaurada la enfermedad), y en tercer lugar las relacionadas con la utilidad de las herramientas diagnósticas para clasificar la enfermedad.  Algunas de los tipos de preguntas más frecuentes se listan a continuación: 						
							
							
						//- ---------------- 
						//- ---------------- Resaltado text
						//- ----------------			
						div.resaltado-txt
							ol
								li Tratamiento
								li Prevención
								li Frecuencia de la enfermedad
								li Etiología de la enfermedad
								li Manifestaciones clínicas de la enfermedad
								li Diagnóstico diferencial
								li Exploraciones diagnósticas
								li Pronóstico de la enfermedad 
								li Experiencia y significado para el paciente
								li Mejoría de la práctica y la gestión 
								li Racionalidad económica

								
								
						p Recuerde que el mejor diseño en epidemiología es el que responde mejor a la pregunta de interés. Por lo cual, cada pregunta tendrá un mejor diseño para contestarla.		
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9675', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9677', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			