include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 5. Causalidad e inferencia causal
						
						p Cómo se mencionaba previamente una de los propósitos más frecuentes de la investigación en epidemiología es la comprensión de los determinantes de la enfermedad, también conocidos como causas. En epidemiología entendemos una causa como un evento, condición o característica previa, necesaria para que la enfermedad ocurriese en el momento que ocurrió, dado que otras condiciones no han cambiado (2). Esta definición plantea entro otros un componente temporal de la relación causa-efecto y la existencia de otros factores que pueden influenciar la relación causal observada (3,4). Factores como estos son analizados desde diferentes teorías de causalidad, entre la que se destaca la propuesta por Sir Bradford Hill para explicar la relación entre la exposición al humo de tabaco y el cáncer de pulmón (5). Los criterios de causalidad propuestos se listan a continuación: 

						
						
						
						//- ---------------- 
						//- ---------------- Tabs
						//- ---------------- 
						+tabs-containers
							+set('titles')
								li.active: a(href='#1' data-toggle='tab') 1
								li: a(href='#2' data-toggle='tab') 2
								li: a(href='#3' data-toggle='tab') 3
								li: a(href='#4' data-toggle='tab') 4
								li: a(href='#5' data-toggle='tab') 5
								li: a(href='#6' data-toggle='tab') 6
								li: a(href='#7' data-toggle='tab') 7
								li: a(href='#8' data-toggle='tab') 8
								li: a(href='#9' data-toggle='tab') 9
								
							+set('content')
								div.tab-pane.fade.active.in#1
									p Relación temporal: La causa debe preceder el efecto.
								div.tab-pane.fade#2
									p Fuerza de la asociación: Existe una relación matemática entre la causa y el efecto. 
								div.tab-pane.fade#3
									p Especificidad de la asociación: Una causa de un efecto.
								div.tab-pane.fade#4
									p Coherencia con otro conocimiento: analogía con otras relaciones causales.
								div.tab-pane.fade#5
									p Plausibilidad biológica: Explicación del mecanismo fisiopatológico.
								div.tab-pane.fade#6
									p Repetición o reproducción de las observaciones: la misma exposición en otra población genera el efecto.
								div.tab-pane.fade#7
									p Relación dosis – respuesta: a mayor exposición, mayor efecto y viceversa. 
								div.tab-pane.fade#8
									p Suspensión de la exposición o Reversibilidad: retirar la causa reduce o elimina el efecto.
								div.tab-pane.fade#9
									p Consideración de explicaciones alternativas: no existe otra explicación.
									
									
									
									
									
									
					
						
						
						p Una inferencia es una suposición o juicio derivado por deducción o inducción de ciertos datos. En el caso de la epidemiología clínica, inferir hace parte del método hipotético-deductivo sobre el que se fundamenta la investigación cualitativa. Este método descansa en falsear hipótesis (nulas) a través de la observación y experimentación, es decir con datos del mundo real, aceptando nuevas hipótesis (alternas) que se constituyen a su vez en el siguiente puerto de partida de la investigación. 
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9676', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9678', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			