include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 6. ¿Cuáles son los tipos de muestreo en investigación clínica? (9).
						
						h3 Muestreo aleatorio simple. 
						p El muestreo aleatorio simple es un método de selección de una muestra de tamaño “n” de un conjunto de “N” unidades, donde n ≤ N de forma tal que cada una de las “M” muestras distintas posibles tiene la misma probabilidad de selección. Su implementación consiste en la numeración de las unidades de 1 a N. Posteriormente se extrae en forma aleatoria una serie de n números entre 1 y N. Por lo tanto esta estrategia requiere la identificación de todos los elementos pertenecientes a la Población en estudio Una forma de implementarlo es, por ejemplo, mediante el ordenamiento en una lista de los pacientes elegibles mediante algún identificador, seguidamente se generará una serie aleatoria de números, en relación de uno a uno con la serie previa. A continuación se ordenará a las unidades por esta última en forma creciente, luego de lo cual se seleccionaran a las primeras n unidades en el orden de la lista. Esta última selección corresponde a una muestra aleatoria simple.

						h3 Muestreo aleatorio estratificado. 
						p Cuando la población en estudio está compuesta por distintos grupos de elementos y se desea que cada uno de los grupos esté proporcionalmente representado dentro de la muestra, puede efectuarse un muestreo aleatorio estratificado. En el muestreo estratificado, la población de N unidades se divide primero en subpoblaciones de N1, N2, ..., NL unidades, respectivamente. Estas subpoblaciones, son excluyentes entre si y en su conjunto comprenden a toda la población. Si se toma una muestra aleatoria simple en cada estrato, el procedimiento se denomina ”muestreo aleatorio estratificado”.

						h3 Muestreos no probabilísticos. 
						p Este tipo de muestreo se efectúa seleccionando los elementos de la muestra en forma tal que no interviene el azar, sino algún criterio determinado que permite realizar el muestreo, el cual generalmente es informal. Los individuos pertenecientes a la población tienen diferente probabilidad de ser seleccionados y la misma es desconocida, por lo cual no pueden incluirse modelos de probabilidad. Por esta misma razón tienden a producir estimadores sesgados y propenden a la no representatividad de la población. Uno de los métodos más difundidos es el muestreo de conveniencia o incidental. El criterio para la selección de los individuos es la accesibilidad a los mismos. 
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9677', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9679', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			