include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 6. ¿Cuáles son las fuentes de error en epidemiología? 
						
						p La inferencia implica hacer generalizaciones acerca de una población con base en una muestra. En estas generalizaciones existe la posibilidad de que esa inferencia no sea válida o sea imprecisa debido a diferentes fuentes de error, entre las que se destacan los errores cometidos por el investigador, también conocidos como sesgos (errores sistemáticos) o el papel del azar y la variabilidad de la naturaleza en la muestra seleccionada (error aleatorio). La figura No 1, resume las fuentes de error más frecuentes en epidemiología analítica, que puede llevar a errores en la interpretación de una relación causa-efecto (6).
						
						
						//- ---------------- 
						//- ---------------- Image / video + caption
						//- ---------------- 		
						+image-caption('https://ubosquemoodle.unbosque.edu.co/diseno/cursos/diplomado-investigacion-clinica-amgen/images/mod-1/001.jpg', 'example-1', 'https://ubosquemoodle.unbosque.edu.co/diseno/cursos/diplomado-investigacion-clinica-amgen/images/mod-1/001.jpg', ' Figura No 1. Fuentes de error en epidemiología. (Autoría de Castillo, J.S. 2020)')
							span  Figura No 1. Fuentes de error en epidemiología. (Autoría de Castillo, J.S. 2020)
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
												
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9677', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9679', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			