include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 7. ¿A qué hace referencia sesgo y validez?
						
						p Un sesgo es una distorsión de los datos o hallazgos de una investigación, debido al método de investigación empleado o a las suposiciones realizadas por el investigador (2). Este tipo de error, que se da de forma reproducible por el diseño del estudio (sistemático), tiene su origen en el investigador. Se describen dos grandes categorías de tipos de sesgos en los estudios epidemiológicos, los sesgos de selección, relativos a la elección de los sujetos de investigación en la muestra del estudio y los sesgos de información relacionados con la calidad de información de las variables de interés. Algunos consideran la confusión como otro tipo de sesgos a considerar (4).  
						p El sesgo de selección es una distorsión en una medida de frecuencia o asociación debido la selección de una muestra que no refleja la población objetivo del estudio. Este tipo de error sistemático puede ocurrir cuando los investigadores usan procedimientos inadecuados para seleccionar una muestra de población, o como resultado de factores que influyen en la participación de los sujetos en un estudio. En cualquier caso, la población de estudio final no es representativa de la población objetivo y de la población general (7).
						p El sesgo de información es una distorsión en la medida de asociación o en la estimación causada por falta de mediciones precisas en las variables clave del estudio (8). También denominado sesgo de medición surge cuando variables clave del estudio (exposición, estado de salud, resultado o terceras variables) no son medidos o clasificados de forma correcta.
						p La existencia de sesgos determina la validez de los estudios. La epidemiología procura por todos los medios reducir el nivel de sesgo en los estudios y consecuentemente la validez de sus resultados. El grado en que el resultado de un estudio es una función de las variables que se miden, controlan o manipulan al interior del mismo y el diseño permite reducir el riesgo de ocurrencia de los sesgos se denomina validez interna, la cual es más alta cuando se eliminan las variables de confusión y los sesgos. 
						p La validez externa se entiende cómo la aplicabilidad de los resultados del estudio o prueba a las situaciones reales. En estadística, es la medida en que los resultados de una investigación pueden generalizarse a la población en su conjunto y a otras poblaciones, entornos, dispositivos de medición, entre otros (2). La validez externa depende, entre otras cosas, de la exactitud y precisión de la muestra. No puede haber validez externa y aplicabilidad de la información, sin validez interna del estudio. 
						p Finalmente, la confusión, entendida como el error o distorsión en la asociación entre una exposición y un resultado de salud, causada por una tercera variable extraña llamada factor de confusión (9). Esta tercera variable puede afectar los resultados al no ser considerada (confusión residual) o al no ser adecuadamente ajustada (analizada). 
						
						
						
						
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9678', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9680', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			