include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 8. Muestras y muestreo
						
						p La epidemiología trabaja con muestras por razones éticas y prácticas. Entre los principales motivos para trabajar con muestras se encuentran (10).
						
						//- ---------------- 
						//- ---------------- Tabs
						//- ---------------- 
						+tabs-containers
							+set('titles')
								li.active: a(href='#1' data-toggle='tab') 1
								li: a(href='#2' data-toggle='tab') 2
								li: a(href='#3' data-toggle='tab') 3
								li: a(href='#4' data-toggle='tab') 4
								li: a(href='#5' data-toggle='tab') 5
								
							+set('content')
								div.tab-pane.fade.active.in#1
									p Consideraciones éticas: No se puede incluir o dejar de incluir a la población del estudio.
								div.tab-pane.fade#2
									p Restricciones presupuestales: No se puede analizar la existencia del fenómeno en toda la población. 
								div.tab-pane.fade#3
									p Aspectos logísticos y operativos: Se puede acceder a cierta población. 
								div.tab-pane.fade#4
									p Restricciones de tiempo: No se alcanza a estudiar toda la población. 
								div.tab-pane.fade#5
									p Desconocimiento de la población objetivo: No se conoce la población, su localización o identificación. 
									
									
						p La naturaleza práctica de trabajar con muestras lleva a considerar el tipo de muestreo y los criterios de selección que mejor garanticen reducir los sesgos de selección y la representatividad de la muestra con su posterior aplicabilidad en la población objetivo.
						p Existen múltiples estrategias para configurar una muestra a partir de una población (muestreo). Sin embargo, estas se pueden resumir en dos categorías (2): 
									
									
						//- ---------------- 
						//- ---------------- Accordion
						//- ---------------- 
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box1', 'box1', 'Muestreo por conveniencia o no probabilístico')
								p Una forma de muestreo en la que la selección de la muestra se basa en el juicio del investigador sobre qué sujetos se ajustan mejor a los criterios del estudio. 
							+accordion-item('#accordion1', '#box2', 'box2', 'Muestreo aleatorio o probabilístico')
								p Un procedimiento para seleccionar sujetos para la investigación sobre la base del azar. Los sujetos se eligen de la población de tal manera que todos tengan la misma posibilidad (probabilidad) de ser seleccionados. 
						
						
						
						p Por otro lado, cuando se configura un diseño de investigación son de particular importancia los criterios aplicados en la selección de los sujetos incluidos en la misma (11). Existen dos tipos de criterios de selección: 
						
						
						
						
						//- ---------------- 
						//- ---------------- Accordion
						//- ---------------- 
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box3', 'box3', 'Criterios de inclusión')
								p Son características clave de la población objetivo que los investigadores usarán para responder las preguntas de investigación. Pueden ser variables demográficas, clínicas o geográficas, entre otras.  
							+accordion-item('#accordion1', '#box4', 'box4', 'Criterios de exclusión')
								p Son características de los posibles participantes del estudio, quienes cumplen los criterios de inclusión, que podrían interferir con el éxito de la investigación o aumentar su riesgo de un resultado desfavorable. Es necesario todo aquello que puede afectar la muestra conformada por los criterios de inclusión, aspectos como los problemas de información, las pérdidas al seguimiento y la mayor susceptibilidad o complejidad de los sujetos deben ser considerados. 
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9679', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9681', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			