include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 7. ¿Cómo se realiza la planificación de las mediciones? precisión y exactitud.
						
						h3 Sesgo de información (15)
						
						p Es el error sistemático que resulta de las diferencias en la forma en la cual se obtiene la información de la exposición o enfermedad en los grupos de estudio. Una pregunta que se debe plantear para detectarlo es:
						
						ul
							li Se obtiene de manera diferente la información entre los grupos que se comparan?
							
							
						p Ejemplos de este tipo de sesgo son:
						
						
						//- ---------------- 
						//- ---------------- Accordion
						//- ---------------- 
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box1', 'box1', 'Sesgo de memoria')
								ul
									li Cuando los individuos con una enfermedad particular recuerdan y relatar la exposición diferente a los que no tienen la enfermedad.
									li Cuando los que han estado expuestos a un agente dañino relatan los acontecimientos posteriores con un grado de certeza o exactitud diferente  a los no expuestos.
									li Ejemplo: los padres de niños con defectos de nacimiento pueden ser más propensos a recordar exposiciones específicas.
							+accordion-item('#accordion1', '#box2', 'box2', 'Sesgo del entrevistador ')
								ul
									li Diferencia sistemática en solicitar, escribir o interpretar la información de los participantes del estudio.
									li Ejemplo:Los entrevistadores hacen las preguntas a los participantes de manera diferente dependiendo de la exposición, la enfermedad o estado de intervención.
									li Cuando se realizan preguntas ambiguas
							+accordion-item('#accordion1', '#box3', 'box3', 'Errores de clasificación')
								ul
									li Medidas incorrectas.
									li Ocurre cuando los participantes se categorizan erróneamente con respecto al estado de enfermedad o exposición.
									li Ejemplo: Ha fumado alguna vez.
							+accordion-item('#accordion1', '#box4', 'box4', 'Diferencial')
								ul
									li La tasa de errores de clasificación es diferencial en los diferentes grupos de estudio.
									li La información de la exposición en un grupo es mas precisa que la del otro grupo.
									li Ejemplo: Las mujeres que tienen hijos con una malformación tiende a recordar más infecciones durante el embarazo que las madres de niños sin malformaciones que resulta en una aparente asociación cuando no la hay.
									li Error de clasificación diferencial puede conducir a:
										ul
											li Una asociación cuando realmente no la hay o 
											li Una aparente falta de asociación cuando realmente existe.
							+accordion-item('#accordion1', '#box5', 'box5', 'No-diferencial')
								ul
									li Estos errores de clasificación no están relacionados con el estado de exposición o con el estado de caso/control.
									li Ocurre cuando hay un error en como se clasifica la exposición y se produce por igual en los grupos de enfermos y no enfermos.
									li El error de clasificación no-diferencial generalmente conduce a un efecto diluido del OR o RR (efecto nulo).
										ul
											li Menos probabilidades de encontrar una asociación cuando ésta existe.
											
							+accordion-item('#accordion1', '#box6', 'box6', 'Sesgo de diagnóstico de sospecha')
								ul
									li Se produce cuando un grupo de estudio se somete a un mayor escrutinio de diagnóstico que otro.
							+accordion-item('#accordion1', '#box7', 'box7', 'El efecto Clever Hans (sesgo de sumisión) ')
								ul
									li Se produce cuando los sujetos tienden a modificar sus respuestas sistemáticamente en la dirección que ellos perciben el investigador necesita.
									
						
						
						
						h3 Control de lo sesgos en los estudios clínicos
						
						p Existen varias estrategias para controlar los sesgos en investigación clínica. Estas estrategias a grandes rasgos son:
						
						
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box8', 'box8', 'Para el control de sesgos de selección')
								ul
									li Evaluar cuidadosamente las implicaciones en la selección de la participantes para el estudio.
										ul
											li Casos y controles deben venir de la base misma población.
									li Utilizar los mismos criterios cuando se seleccionan casos y controles.
									li Reclutar todos los casos en un tiempo y región definida.
									li Garantizar el seguimiento de la población.
									li Considerar el uso de varios grupos de control.
									li Elegir los grupos de estudio que son representativos de los grupos en la población 
									li Establecer incentivos para obtener una alta tasa de participación.
									
							+accordion-item('#accordion1', '#box9', 'box9', 'Para el control de sesgos de información')
								ul
									li Preparar un manual de procedimientos detallado que cubra todos los aspectos de la colección de datos.
									li Mantener un estrecho control de calidad (enviar repeticiones para el análisis).
									li “Cegar” el personal que colecta  y abstrae datos cuando sea posible.
									li Entrenar y certificar a todo el personal que colecta datos.
									li Re-entrenar personal periódicamente.
									li Fuentes de información deben ser similares para todos los participantes .
									li Los participantes no deben ser conscientes de las hipótesis específicas bajo investigación.
									li Información  sobre la enfermedad debe obtenerse sin el conocimiento de estado de exposición.
									li Definición de la exposición y de la enfermedad debe ser estándar .
									li Cuestionarios estructurados.
									li El uso de registros preexistentes.
						
						
						
						
						
						
						
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9680', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9682', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			