include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 9. ¿Qué es precisión y exactitud?
						
						p La precisión es el número de representaciones (observaciones) significativas de las que se toman los datos o se realizan lecturas. En general, cuanto mayor sea el número de representaciones (observaciones) significativas, mayor será la precisión (2). 
						p El concepto de precisión guarda relación con el concepto de aleatoriedad o dependencia del azar puro, entendido como un fenómeno carente de un orden preestablecido o que se puede predecir (2). 
						p En contraposición con los sesgos, el papel del azar en los resultados del estudio escapa en general al dominio del investigador, y en general el manejo de esta fuente de error se limita a estimar el valor del azar en los resultados del estudio, mediante valores de p o intervalos de confianza de las estimaciones. Otra alternativa que permite gestionar el papel del azar está en la representatividad de la muestra y su capacidad de reducir la ocurrencia de errores por el papel del azar como lo son la posibilidad de rechazar la hipótesis nula por efecto de variaciones aleatorias y no de diferencias reales en la población (error tipo I) o la incapacidad de rechazar la hipótesis nula por falta de representatividad en el número de observaciones a pesar de las diferencias reales (error tipo II), este último muy relacionado con el tamaño de la muestra. 
						p Finalmente, la exactitud es la capacidad de lograr un resultado o hacer una acción (investigar) sin cometer errores. En epidemiología se entiende la exactitud como la combinación de validez y precisión, es decir la capacidad de acertar el blanco de forma insesgada y confiable.
						
						
						
						
						
						
						
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9680', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9682', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			