include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 10. Anatomía de la investigación y de un protocolo de investigación
						
						p Los conceptos vistos en este módulo y en los subsiguientes pueden ser aplicados en la generación de nueva evidencia, en el rol del investigador. Existe a la luz del método científico una serie de etapas en la investigación clínica que se ven reflejadas en la elaboración de propuestas o protocolos de investigación (6).
						
						
						//- ---------------- 
						//- ---------------- Tables
						//- ----------------
						+tables-containers('Tabla No 2. Anatomía de la investigación.')
							+set('thead')
								tr
									th Investigación clínica 
									th Protocolo de investigación 
							+set('tr')
								tr
									td 1. Conceptualización
									td 1. Antecedentes (Marco teórico)
								tr
									td 2. Definición del método
									td 2. Planteamiento del problema
								tr
									td 3. Selección del diseño
									td 3. Justificación
								tr
									td 4. Selección de la muestra
									td 4. Objetivos
								tr
									td 5. Selección de estrategias de medición
									td 5. Métodos<br/>
										|	5.1. Diseño<br/>
										|	5.2. Población <br/>
										|	5.3. Muestra<br/>
										|	5.4. Medición <br/>
										|	5.5. Plan de análisis<br/>
									
									
								tr
									td 6. Recolección de datos
									td 6. Resultados esperados
								tr
									td 7. Procesamiento de datos
									td 7. Consideraciones legales y éticas
								tr
									td 8. Análisis de datos
									td 8. Difusión y uso de la información
								tr
									td 9. Difusión y uso de la información
									td 9. Bibliografía
								tr
									td 
									td 10. Anexos
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						p La mayoría de las veces seremos usuarios de la evidencia más que generadores de esta, en cuyo caso algunos de los criterios serán empleados para juzgar la calidad (validez + precisión) de la evidencia (12). En especial los relacionados con el efecto del sesgo y el azar en cada diseño de investigación (13).
						
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9681', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9683', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			