include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 11. Para recordar
						
						p En resumen, podemos decir que:
						
						ol
							li La epidemiología es el estudio de la distribución y determinantes de la enfermedad en una población. 
							li Como ciencia emplea métodos cualitativos y cuantitativos para comprender la enfermedad.
							li Cuando se práctica en el ámbito de práctica clínica se denomina epidemiología clínica. 
							li Los diseños más empleados en el entorno clínico son los diseños cuantitativos, debido a que su mayor preocupación es la comprensión de la relación causa-efecto. 
							li Estos diseños son susceptibles de diferentes errores relacionados con el tipo de pregunta, los sesgos cometidos por el investigador en la selección, medición y análisis, así como por el papel del azar en los estudios.
							li El análisis de la información puede constituir otra fuente de error en epidemiología, como lo es la inapropiada definición de una pregunta de investigación o el no considerar terceras variables de interés para la relación causa-efecto. 
							li Reconocer estas fuentes de error, mejora el uso de la investigación clínica publicada (consumo de evidencia), así como la generación de estudios por parte del investigador en epidemiología (generación de evidencia).
							
						
						
						
						
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9682', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9684', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			