include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 12. Bibliografía
						
						ol
							li Last JM. A Dictionary of epidemiology. 4th Edition. Oxford University Press, 2001. Disponible en: <a href="https://pestcontrol.ru/assets/files/biblioteka/file/19-john_m_last-a_dictionary_of_epidemiology_4th_edition-oxford_university_press_usa_2000.pdf" target="_blank">https://pestcontrol.ru/assets/files/biblioteka/file/19-john_m_last-a_dictionary_of_epidemiology_4th_edition-oxford_university_press_usa_2000.pdf</a> 
							li The Oxford Dictionary of Sports Science & Medicine. 3th ed. Oxford University Press. Disponible en: <a href="https://www.oxfordreference.com/view/10.1093/acref/9780198568506.001.0001/acref-9780198568506" target="_blank">https://www.oxfordreference.com/view/10.1093/acref/9780198568506.001.0001/acref-9780198568506</a> 
							li Rothman KJ, Greenland S. Modern epidemiology. 2nd ed. Philadelphia, PA: Lippincott-Raven, Inc, 1998.
							li Greenberg RS. Medical Epidemiology. 3th Edition. Appleton & Lange, 1993.
							li Hill AB. The environment and disease: Association or causation?. Proc R Soc Med. 1965;58(5):295–300.
							li Shi L. Chapter 1 Scientific Foundations of Health Services Research in Health Services Research Methods. 2nd Edition. Cengage Learning, 2008.
							li demiologic Research and Information Center (ERIC). ERIC Notebook. Selection Bias. Disponible en: <a href="https://sph.unc.edu/files/2015/07/nciph_ERIC13.pdf" target="_blank">https://sph.unc.edu/files/2015/07/nciph_ERIC13.pdf</a> 
							li Epidemiologic Research and Information Center (ERIC). ERIC Notebook. Sources of Systematic Error or Bias: Information Bias. Disponible en: <a href="https://sph.unc.edu/files/2015/07/nciph_ERIC14.pdf" target="_blank">https://sph.unc.edu/files/2015/07/nciph_ERIC14.pdf</a>
							li Epidemiologic Research and Information Center (ERIC). ERIC Notebook. Confounding Bias, Part I. Disponible en: <a href="https://sph.unc.edu/files/2015/07/nciph_ERIC11.pdf " target="_blank">https://sph.unc.edu/files/2015/07/nciph_ERIC11.pdf </a> 
							li Martínez-Mesa J et al. Sampling: how to select participants in my research study?. Anais brasileiros de dermatologia, 91(3), 326–330.
							li ulley SB, Cummings SR, Browner WS, Grady DG, Newman TB. Designing Clinical Research. 3rd ed, Philadelphia, 2007.
							li Scottish Intercollegiate Guidelines Network. Critical appraisal notes and checklists. Disponible en: <a href="https://www.sign.ac.uk/checklists-and-notes.html" target="_blank">https://www.sign.ac.uk/checklists-and-notes.html</a> 
							li Epidemiologic Research and Information Center (ERIC). NCIPH training packages. Disponible en: <a href="https://sph.unc.edu/nciph/eric/" target="_blank">https://sph.unc.edu/nciph/eric/</a> 
								
								
								
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9683', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9685', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			