include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 Glosario
						
						ol
							li <b>Causa:</b> Es un evento, condición o característica previa necesaria para que la enfermedad ocurriese en el momento que ocurrió, dado que otras condiciones no han cambiado.
							li <b>Confusión:</b> Es la distorsión de la asociación entre una exposición y un resultado de salud, causada por una tercera variable extraña llamada factor de confusión.
							li <b>Epidemiología:</b> Estudio de la distribución y determinantes de los estados de salud o eventos relacionados con la misma en una población específica y la aplicación de estos estudios para el control de estos eventos de salud.
							li <b>Exactitud:</b> La capacidad de lograr un resultado o hacer una acción (investigar) sin cometer errores.
							li <b>Inferencia:</b> Una suposición o juicio derivado por deducción o inducción de ciertos datos.
							li <b>Investigación:</b> Tipo de actividades diseñadas para desarrollar o contribuir al conocimiento generalizable.
							li <b>Muestreo aleatorio:</b> Un procedimiento para seleccionar sujetos para la investigación sobre la base del azar. 
							li <b>Muestreo por conveniencia:</b> Una forma de muestreo en la que la selección de la muestra se basa en el juicio del investigador sobre qué sujetos se ajustan mejor a los criterios del estudio.
							li <b>Precisión:</b> El número de representaciones (observaciones) significativas de las que se toman los datos o se realizan lecturas.
							li <b>Sesgo:</b> En investigación es la distorsión de los datos o hallazgos de la misma, por el método de investigación empleado o por las suposiciones del investigador.
							li <b>Sesgo de información:</b> Es una distorsión en la medida de asociación o en la estimación causada por falta de mediciones precisas en las variables clave del estudio. 
							li <b>Sesgo de selección:</b> es una distorsión en una medida de frecuencia o asociación debido la selección de una muestra que no refleja la población objetivo. 
							li <b>Validez:</b> Se refiere a que una entidad, medida o conjunto de hallazgos significa lo que pretende significar, mide lo que dice medir o es una declaración verdadera de la realidad. 
							li <b>Validez externa:</b> Es la aplicabilidad de los resultados del estudio o prueba a situaciones reales. En estadística, es la medida en que los resultados de una investigación pueden generalizarse a la población en su conjunto y a otras poblaciones, entornos, dispositivos de medición, etc.
							li <b>Validez interna:</b> El grado en que el resultado de un estudio es una función de las variables que se miden, controlan o manipulan al interior de este. 
								
								
								
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9684', 'enabled', '#', 'disabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			