include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 4')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-4')
						
						
						h2 3. ¿Cómo se define Buena Práctica Clínica?
						
						p Es un estándar internacional de calidad científica y ética para el diseño, conducción, realización, monitoreo, auditoría, registro, análisis y reporte de ensayos clínicos que involucran seres humanos, garantizando que los datos y los resultados reportados sean creíbles y precisos, protegiendo los derechos, integridad y confidencialidad de los sujetos del estudio. (1)
									
					
						//- Material modulo
						+material-modulo('material-mod-4')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=341871&chapterid=9719', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=341871&chapterid=9721', 'enabled', '#test-mod-4')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			