include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 3')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-3')
						
						h2 6. Recomendaciones clave
						
						h3 Hojee el artículo.
						
						ul
							li Lea los nombres de los autores.
							li Mire el año en que fue escrito.
							li Interprete el título del artículo.
							li Identifique las secciones en que está dividido.
							li Mire las gráficas, figuras, tablas o fotos.
							li Mire la bibliografía, si es reciente y relacionada con el tema.
							
						h3 Lea el resumen del artículo.
						
						ul
							li Trate de entenderlo lo más posible.
							li Identifique el argumento central del artículo.
							li Mire sus conclusiones.
						
						h3 Dele una primera leída rápida.	
						
						ul
							li Marque todos los conceptos y palabras técnicas que no entiendes.
							li Al terminar la primera lectura, reflexione y tome nota sobre lo que entendiste, así como de las dudas que te hayan surgido.
							li Reflexione con espíritu crítico sobre el artículo leído.
							li Ponga a prueba la validez del artículo.
							li Diseccione con precisión sus partes fundamentales.
							li Utilice las preguntas críticas como guía.
									
									
					
						//- Material modulo
						+material-modulo('material-mod-3')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340019&chapterid=9707', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340019&chapterid=9709', 'enabled', '#test-mod-3')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			