include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 0')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						h2 Carta bienvenida director académico
										
						h3 Apreciados participantes del Diplomado:
						
						p En nombre de los especialistas que se han encargado del diseño de los contenidos para este diplomado virtual y que los acompañarán en el desarrollo de cada una de las actividades planteadas, quiero darles la bienvenida.
						p En primera medida es importante conocer y entender la importancia de la investigación clínica en el país, como un pilar fundamental en la generación de conocimiento.
						p En este diplomado se pretende brindar herramientas para reconocer los siguientes aspectos fundamentales de la investigación clínica:
						
						ul
							li Diferentes tipos de ensayos, estructura de un protocolo de investigación.
							li Estudios clínicos adaptativos. 
							li Búsqueda sistemática de información científica, medicina basa da en la evidencia. 
							li Normatividad nacional e internacional en investigación clínica. 
							li Aspectos éticos en investigación.
							li Conducción de estudios clínicos en centros de investigación.
							
						p Esperamos que los contenidos de este diplomado contribuyan en el ejercicio profesional de cada uno de ustedes y sea aplicable en el desarrollo e implementación de la investigación clínica.
						
						h3 Alvaro Fernando Burbano Delgado
						
						h4 Director Académico Diplomado<br/>Universidad El Bosque
									
						
					
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('#', 'disabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=345205&chapterid=9764', 'enabled', '#test-mod-0')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			