include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 7. ¿Cómo se realiza la planificación de las mediciones? precisión y exactitud.
						
						h3 Confusión (16)
						
						p Término utilizado para describir la distorsión del estimado del efecto de una exposición de interés ya que esta mezclado con el efecto de un factor extraño

						p Según Susser, una variable de confusión "es una variable independiente que varía sistemáticamente con la variable hipotética de causalidad en estudio. Cuando no son controlados, los efectos de una variable de confusión no se pueden distinguir de los de la variable de estudio”

						p Para ser un factor de confusión, la variable extraña debe cumplir los tres criterios siguientes:
						
						
						//- ---------------- 
						//- ---------------- Tabs
						//- ---------------- 
						+tabs-containers
							+set('titles')
								li.active: a(href='#1' data-toggle='tab') 1
								li: a(href='#2' data-toggle='tab') 2
								li: a(href='#3' data-toggle='tab') 3
								
							+set('content')
								div.tab-pane.fade.active.in#1
									p Ser un factor de riesgo para la enfermedad (no necesariamente causal, pero por lo menos un marcador para la causa real de la enfermedad) 
								div.tab-pane.fade#2
									p Estar asociados con la exposición en estudio en la población de la que derivan los casos 
								div.tab-pane.fade#3
									p No ser un paso intermedio en la vía causal entre la exposición y la enfermedad.
						
						
						p Para detectar este fenómeno se deben plantear los siguientes interrogantes:
						
						ul
							li Están los resultados del análisis original confundidos por el factor potencial de confusión?
							li Para responder esta pregunta, el análisis se debe hacer de nuevo estratificando por el factor de confusión.
							li Si el OR en cualquier estrato es diferente al OR no estratificado (original) entonces la confusión se ha mostrado.
							
							
						p Otras consideraciones en la evaluación y control de la confusión son:
						
						ul
							li La clasificación errónea de las variables de confusión hace que sea difícil su adecuado control.
							li Confusión puede producirse en diversos grados en diferentes estudios.
							li La confusión se puede evaluar en el análisis de los resultados, por lo tanto se diferencia de un sesgo de selección y la información.
						
						p Hay diferentes métodos para controlar el fenómeno de confusión:
						
						
						//- ---------------- 
						//- ---------------- Accordion
						//- ---------------- 
						+accordion('accordion1')
							+accordion-item('#accordion1', '#box1', 'box1', 'En el diseño del estudio')
								p <b>Aleatorización:</b> es el método ideal, pues asegura que la distribución de variables de confusión conocidas y desconocidas sea similar en los grupos a comparar, siempre que el n del estudio sea grande. Solo se puede utilizar en los estudios experimentales
								p <b>Restricción:</b> limita la participación en el estudio a personas similares respecto a la variable de confusión. Se logra con los requisitos de exclusión 
								p <b>Apareamiento:</b> los controles se seleccionan de forma que la distribución de las variables de confusión potenciales será idéntica a la de los casos.
								ul
									li Apareamiento individual
									li Apareamiento de frecuencia
									li Solo se utiliza en los estudios de casos y controles
									li En ocasiones se usa en los ensayos de intervención comunitarios

							+accordion-item('#accordion1', '#box2', 'box2', 'En el análisis')
								p <b>Estratificación:</b> Técnica mediante la cual la fuerza de la asociación se mide por separado dentro de cada categoría definida y homogénea (estrato) de la variable de confusión.
								ul
									li Se obtiene una medida ajustada o controlada por los efectos de la variable de confusión, teniendo en cuenta las diferencias entre los grupos en la distribución de las variable de confusión.
								p Análisis multi-variable 
						
						
									
									
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9681', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9683', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			