include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc.article
			
				//- menu
				div#menu
				
				//- header	
				div#banner
					+header-block('header-interns', 'Módulo 1')
			
				
				//- ---------------- 
				//- ---------------- white container
				//- ---------------- 
				article.container-content
				
					//- ---------------- 
					//- ---------------- Left content
					//- ---------------- 
					div.content-left
						
						+modulo-video('video-mod-1')
						
						h2 10. Bibliografía.
						
						ol
							li Hulley SB, Cummings SR,Browner WS, Grady DG Newman TB. Como empezar: anatomía y fisiología de las investigaciones clínicas en Hulley SB, Cummings SR,Browner WS, Grady DG Newman TB. Diseño de la investigaciones clínicas. Barcelona: Ediciones Wolters Kluwers 2014, pp: 1-13.
							li Inouye SK, Fiellin DA. An evidence-based guide to writing grant proposals for clinical research. Ann Intern Med. 2005 Feb 15;142(4):274-82.
							li Garcia Lopez F. Primeros pasos en la confección de un proyecto de investigación clínica: la pregunta de investigación. Emergencias 2000;12:33-39
							li Cañón M, Buitrago-Gómez Q. The Research Question in Clinical Practice: A Guideline for Its Formulation. Rev Colomb Psiquiatr. 2018 Jul -Sep;47(3):193-200.
							li Kahn CR. Picking a research problem. The critical decision. N Engl J Med. 1994 May 26;330(21):1530-3
							li Treweek S, Lockhart P, Pitkethly M, et al. Methods to improve recruitment to randomised controlled trials: Cochrane systematic review and meta- analysis. BMJ Open 2013;3:
							li Bower et al.: Interventions to improve recruitment and retention in clinical trials: a survey and workshop to assess current practice and future priorities. Trials 2014 15:399.
							li Caldwell PHY, Hamilton S, Tan A, Craig JC (2010) Strategies for Increasing Recruitment to Randomised Controlled Trials: Systematic Review. PLoS Med 7(11): e1000368.
							li Elfil M, Negida A. Sampling methods in Clinical Research; an Educational Review. Emerg (Tehran). 2017;5(1):e52.
							li Rothman KJ, Greenland S, Lash T. Modern epidemiology. Third edition. Lippincott Williams & Wilkins, 2008. Philadelphia.
							li Hernández-Ávila, M.; Garrido, F.; Salazar-Martínez, E. Sesgos en estudios epidemiológicos. Salud Pública Méx., 42(5):438-46, 2000.
							li Lazcano-Ponce E, Salazar-Martínez E, Hernández-Avila M. [Case-control epidemiological studies: theoretical bases, variants and applications]. Salud Publica Mex. 2001 Mar-Apr;43(2):135-50.
							li Schlesselman, J. J. Case-Control Studies: Design, Conduct, Analysis (Monographs in Epidemiology and Biostatistics). Oxford, Oxford University Press, 1982
							li Sackett DL. Bias in analytic research. J Chronic Dis. 1979;32(1-2):51-63
							li Tripepi G, Jager KJ, Dekker FW, Zoccali C. Selection bias and information bias in clinical research. Nephron Clin Pract. 2010;115(2):c94-9.
							li Solís Sánchez G, Orejas Rodríguez-Arango G. [Epidemiology and scientific methodology applied to pediatrics (VI): confusion and interaction]. An Esp Pediatr. 1999 Jul;51(1):91-6.
							li Vandenbroucke JP, Broadbent A, Pearce N. Causality and causal inference in epidemiology: the need for a pluralistic approach. Int J Epidemiol. 2016 Dec 1;45(6):1776-1786
							li Rothman KJ, Greenland S. Causation and causal inference in epidemiology. Am J Public Health. 2005;95 Suppl 1:S144-50
							li Weed DL. On the use of causal criteria. Int J Epidemiol. 1997 Dec;26(6):1137-41. 
							li Knafl K, Van Riper M. Tips for Developing a Successful Family Research Proposal. J Fam Nurs. 2017 Nov;23(4):450-460 
							li Tamayo y Tamayo M. Aprender a investigar. Modulo 5. El proyecto de investigación. ICFES. Bogotá 2002. 
							li Wisdom JP, Riley H, Myers N. Recommendations for Writing Successful Grant Proposals: An Information Synthesis. Acad Med. 2015 Dec;90(12):1720-5. 
							li Monte AA, Libby AM. Introduction to the Specific Aims Page of a Grant Proposal. Acad Emerg Med. 2018 Sep;25(9):1042-1047. 
							li  Bernd Röhrig, Jean-Baptist du Prel, Maria Blettner. Study Design in Medical Research. Dtsch Arztebl Int 2009; 106(11): 184–9  
							li Guyatt G. Preparing a research protocol to improve chances for success. Journal of Clinical Epidemiology 59 (2006): 893-899
								
								
								
					
						//- Material modulo
						+material-modulo('material-mod-1')
						
						
						
					//- ---------------- 
					//- ---------------- Right content
					//- ---------------- 
					div.content-right
						
						div.blocks
						
							+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9684', 'enabled', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=340011&chapterid=9686', 'enabled', '#test-mod-1')
									
								
						
						
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			