// -----------------------
// material modulo
// -----------------------

.curso-cc,
#region-main .curso-cc,
#page-mod-book-view #region-main .curso-cc{
	
	.blue-btn{
		background: $color_brand_blue;
		border: 1px solid $color_brand_blue;
	    border-radius: 0;
	    padding: 0.6rem 1rem 0.6rem;
	    text-shadow: none;
	    transition: all ease-in-out .2s;
	    text-decoration: none;
	    display: inline-block;
	    margin: .3rem .5rem .3rem 0;
	    @include font_universal (
			$font_family_line_height: 26px,
			$font_family_weight: 300,
			$font_family_size: 18px,
			$font_family_color: $color_white,
			$font_family_letter_spacing: 0,
			$font_family_group: $font_arial
		);
	    
	    .fa{
		    width: initial;
		}
	    
	    &:hover{
		    background: $color_white;
			border: 1px solid $color_brand_blue;
			color: $color_brand_blue;
	    }
	    
	    &:last-child{
		    margin-right: 0;
	    }
	    
	}
	
	.white-btn{
		background: none;
		border: 1px solid $color_brand_blue;
	    border-radius: 3px;
	    padding: 0.2rem 1rem;
	    text-shadow: none;
	    transition: all ease-in-out .2s;
	    text-decoration: none;
	    display: block;
	    margin: 1rem 0;
	    text-align: center;
	    text-transform: uppercase;
	    position: relative;
	    cursor: pointer;
	    @include font_universal (
			$font_family_line_height: 26px,
			$font_family_weight: 300,
			$font_family_size: 13px,
			$font_family_color: $color_brand_blue,
			$font_family_letter_spacing: 1px,
			$font_family_group: $font_arial
		);
	    
	    .fa{
		    width: initial;
		}
	    
	    &:hover{
		    background: $color_brand_blue;
			border: 1px solid $color_brand_blue;
			color: $color_white;
	    }
	    
	    &:last-child{
		    margin-bottom: 0;
	    }
	    
	    &:first-child{
		    margin-top: 0;
	    }
	    
	}
	
	.fa-caret-left{
		position: relative;
		top: 1px;
	}
	
	.fa-caret-right{
		position: relative;
		top: 1px;
	}
	
	.fa-external-link-alt{
		position: relative;
		font-size: 11px;
	}
	
	a.disabled{
		display: none !important;
	}
	
}