// -----------------------
// lightbox
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.progressContainer{
		margin: -1rem -1rem 1rem;
		background: $color_grey;
		
		.progress{
			background: $color_brand_blue;
		}
		
	}
	
}